<!doctype html>
<html lang="en">
<head>
<title>Devinez mon mot</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="./index.css"/>
</head>
<body>
<div
    id="container"
    v-bind:class="{
        'show-win': winTime,
        'gave-up': gaveUpTime,
    }"
>

<header>
    <div class="controls">
        <h1>
            <a href="./" class="home">Devinez mon mot</a>
        </h1>

        <select
            id="difficulty-changer"
            v-on:change="toggleDifficulty"
            v-bind:value="difficulty"
            v-bind:class="difficulty"
            v-cloak
        >
            <option value="normal">normal</option>
            <option value="hard">difficile</option>
        </select>

        <button v-on:click="toggleShowDate" v-cloak title="play passed days">📅</button>

        <div v-cloak v-if="showDatePicker">
            <div style="margin-bottom: 10px; font-style: italic;">jouer un ancien jour pour le fun</div>
            <div class="date-picker">
                <button v-on:click="backMonth" title="revenir un mois en arrière">&lt;m</button><button v-on:click="backWeek" title="revenir une semaine en arrière">&lt;s</button><button
                    v-on:click="backDay" title="revenir un jour en arrière">&lt;j</button>
                <div class="display" v-bind:class="{
                        'centered': ['Aujourd’hui', 'Premier jour 🎂'].includes(getShortDayString()),
                    }">
                    {{getShortDayString()}}
                </div>
                <button v-on:click="forwardDay" title="avancer d'un jour" v-bind:disabled="!playDate">j&gt;</button><button v-on:click="forwardWeek" title="avancer d'une semaine" v-bind:disabled="!playDate">s&gt;</button><button
                    v-on:click="forwardMonth" title="avancer d'un mois" v-bind:disabled="!playDate">m&gt;</button>
            </div>
        </div>
    </div>

    <nav>
        <a class="bigger-target" href="./README.html">à propos</a>
    </nav>
</header>

<p style="margin-bottom: 24px">
    Je pense à un mot en français. Faites des essais ci-dessous, et je vous dirais si mon mot est alphabétiqument avant ou après votre essai.
</p>

<h3 v-if="false" style="margin-left: 78px;">Chargement...</h3>
<div v-cloak>
    <div id="after-guesses-container" v-if="afterGuesses.length">
        <label id="after-label" class="fixed-width-label" title="Mon mot est après ces mots">
            est après:
        </label>
        <div>
            <!-- FIXME how reuse the guess template? -->
            <div
                v-for="guess in afterGuesses"
                class="guess"
                v-bind:class="{
                    'current-guess': guesses.slice(-1)[0] === guess,
                }"
            >
                {{guess}}
            </div>
        </div>
    </div>
    <div id="guesser">
        <label class="fixed-width-label"><!-- cheap spacing--></label>
        <div>
            <h2 v-if="winTime">Bravo ! 🎉🎉🎉</h2>
            <p v-if="winTime">
                ({{guesses.length}} essais en {{getFormattedTime(winTime - startTime)}})
            </p>
            <h3 v-if="gaveUpTime">Mon mot est :</h3>
            <form name="guesser" v-on:submit.prevent="makeGuess" autocomplete="off" autocorrect="off">
                <input
                    id="new-guess"
                    placeholder="tapez un mot puis -->"
                    type="text"
                    autocomplete="off"
                    autocorrect="off"
                    v-on:input="setGuess"
                    v-bind:disabled="winTime || gaveUpTime"
                    v-bind:value="guessValue"
                />
                <input
                    id="submit-guess"
                    type="submit"
                    value="deviner"
                    v-bind:disabled="winTime || gaveUpTime"
                />

                <a
                    id="give-up"
                    href="#"
                    v-on:click="giveUp"
                    v-if="guesses.length && !gaveUpTime"
                >
                    abandonner :(
                </a>

                <div class="error" v-if="guessError" style="margin: 5px 0px;">
                    {{guessError}}
                </div>

            </form>

            <h4 v-if="winTime && !playDate">
                Revenez demain pour un autre mot<span v-if="difficulty === 'hard'">.</span>
                <span v-if="difficulty === 'normal'">ou
                    <a href="#" v-on:click="toggleDifficulty">essayez un mot difficile</a> ?
                </span>
            </h4>

            <h4 v-if="gaveUpTime">
                plus de chance demain
                <span v-if="difficulty === 'hard'">ou
                    <a
                        href="#"
                        v-on:click="toggleDifficulty"
                    >
                        essayez un mot normal </a>?
                </span>
            </h4>
        </div>
    </div>
    <div id="before-guesses-container" v-if="beforeGuesses.length">
        <label id="before-label" class="fixed-width-label" title="Mon mot est avant ces mots:">
            est avant:
        </label>
        <div id="before-guesses">
            <div
                v-for="guess in beforeGuesses"
                class="guess"
                v-bind:class="{
                    'current-guess': guesses.slice(-1)[0] === guess,
                }">
                {{guess}}
            </div>
        </div>
    </div>

</div>

</div>


<script src="dictionary.js"></script>
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="common.js"></script>
<script src="index.js"></script>

<!-- Uncomment to run tests in browser -->
<!-- <script src="./tests.js"></script> -->

</body>
</html>
